# macOS
.DS_Store

# C/C++ object files
*.o

# Debug symbol folders
*.dSYM/

# Build directories
bin/

# Common macOS/Clang executables
LL3nodes
insertion_end
insertion_end2
linkedlist1
node
struct_func1
traversing